{% load static %}
<footer>
    <a href="#top">
        <header class='ToTop text-white pt-2 pb-2 text-center '>
            <div class="container">
                <h6 class="m-0"><i style="font-size:small;" class="ml-2 fas fa-arrow-up"></i> للأعلى
                </h6>
            </div>
        </header>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-12 bg-white border-left ">
                <div class="img text-center">
                    <img class="mt-3 mb-3" src="{%static 'images/logo.png' %}" alt="Mica-Logo" width="100">
                </div>
                <p class="text-right" style='line-height:1.9;'>
                    احنا فريق من اكاديمية مصر الدولية للحاسبات <b>(MICA)</b>
                    عملنا الويبسايت دة عشان نساهم في نشر الوعي عن فيروس كورونا المستجد
                    لو عايز تعرف اكتر <a href='{% url "main:about" %}'>إضغط هنا</a>
                </p>
                <div class="text-right pt-3 pb-3">
                    <h6><b>تابعنا على</b></h6>
                </div>
                <div class="text-center social mt-3 mb-3">
                    <div class="social-btns">
                        <a class="btn facebook" target='blank' href="https://www.facebook.com/micaegypt/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn website" target='blank' href="http://www.micaegypt.com/"><i class="fas fa-globe"></i></a>
                        <a class="btn google" target='blank' href="https://www.youtube.com/channel/UC408UVJ3xIcpamx6TLlrl7Q"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-7 bg-white">
                <div class="text-right mt-3 mb-3">
                    <h6><b>خريطة الموقع</b></h6>
                    <div class="row mr-5 mt-4 sitemap">
                        <ul class="col-sm-6 col-12 ">
                            <a href="{% url 'home:main' %}">
                                <li>الصفحة الرئيسية</li>
                            </a>
                            <a href="{% url 'donation:organization' %}">
                                <li>دعم المؤسسات الخيرية</li>
                            </a>
                            <a href="{% url 'donation:peoples' %}">
                                <li>دعم العمالة اليومية</li>
                            </a>
                            <a href="{% url 'main:symptoms' %}">
                                <li>اعراض الفيروس</li>
                                <a>
                                    <a href="#"> 
                                       <li> كلم مساعدك الشخصي</li> 
                                  </a>

                        </ul>
                        <ul class="col-sm-6 col-12">
                            <a href="{% url 'doctors:volteneer' %}">
                                <li>تطوع لفريق الأطباء</li>
                            </a>
                        </a>
                        <a href="{% url 'emergency:all_numbers' %}">
                            <li>أرقام الطواريئ</li>
                        </a>
                            <a href="{% url 'doctors:all' %}">
                                <li>إستشير طبيب</li>
                            </a>
                            <a href="{% url 'labs:all' %}">
                                <li>اماكن التحليل</li>
                            </a>
                            <a href="{% url 'main:about' %}">
                                <li>إحنا مين</li>
                            </a>
                          
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/numscroller-1.0.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>