{% load static %}

  <scroll-page id="top"></scroll-page>

<header class="topHeader">
    <div class="container">
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
            <h4 class="mr-5 "><b>القائمة</b></h4>
        </div>
    </div>
</header>
<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        <ul class="col-sm-3">
            <li><a href="{% url 'home:main' %}">الصفحة الرئيسية</a></li>
            <li><a href="#"> كلم مساعدك الشخصي</a></li> 
            <li><a href="{% url 'main:symptoms' %}">الاعراض</a></li>
            <li><a href="{% url 'emergency:all_numbers' %}">ارقام الطوارئ</a></li>
            <li><a href="{% url 'labs:all' %}">اماكن التحاليل</a></li>
        </ul>
        <ul class="col-sm-3">
            <li><a href="{% url 'doctors:all' %}">إستشير طبيب</a></li>
            <li><a href="{% url 'doctors:volteneer' %}">تطوع لفريق الاطباء</a></li>
            <li><a href="{% url 'donation:organization' %}">دعم المئسسات الخيرية</a></li>
            <li><a href="{% url 'donation:peoples' %}">دعم العماله اليومية </a></li>
            <li><a href="{% url 'main:about' %}">اِحنا مين </a></li>
        </ul>
    </nav>
</div>
<div class='container mt-4 mb-4 text-right'>
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} col-sm-12 text-right mt-3 rounded-0">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
</div>