{% load static %}

  <scroll-page id="top"></scroll-page>

<header class="topHeader">
    <div class="container">
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
            <h4 class="mr-5 "><b>القائمة</b></h4>
        </div>
    </div>
</header>
<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        <ul class="col-sm-3">
            <li><a href="./index.html">الصفحة الرئيسية</a></li>
            <li><a href="./symptoms.html">الاعراض</a></li>
            <li><a href="./index.html#protection">طرق الوقاية</a></li>
            <li><a href="./PlacesOfLabs1.html">اماكن التحاليل</a></li>
        </ul>
        <ul class="col-sm-3">
            <li><a href="./volunteerDoctors.html">إستشير طبيب</a></li>
            <li><a href="./volunteerDoctorForm.html">تطوع لفريق الاطباء</a></li>
            <li><a href="./donations.html">تبرع الان</a></li>
            <li><a href="./index.html#party1">اعلي الدول اصابه </a></li>
        </ul>
    </nav>
</div>
<div class='container mt-4 mb-4 text-right'>
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} col-sm-12 text-right mt-3 rounded-0">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
</div>