{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 overflow-hidden">
    <section class="about-us text-center mt-5">
        <header class="pt-5 pb-5 overflow-hidden">
            <h3><b>إحنا مين وإية دة ؟</b></h3>
        </header>
        <div class="row mb-5">
            <div class="col card ">
                <div class="row no-gutter pt-4 pb-4">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <img src="{% static 'images/logo.png' %}" class="card-img" />
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card-body">
                            <h6 class="card-title text-right"><b>اكاديمية مصر الدولية للحاسبات (MICA)</b></h6>
                            <p class="card-text text-right text-muted" style="font-size:.9rem;">
                                دية الأكاديمية اللي بندرس فيها

                                <br>
                                احنا في الأول فرد من التيم معانا فكر إنه يعمل حاجة يساهم بيها في زيادة الوعي عن فايروس
                                كورونا
                                وبدأنا نشتغل كفريق خلصنا الفكرة كلها وبعد كدة كلمنا الإدارة عندنا رحبوا بالفكرة وعجبتهم
                                جدًا وقدمولنا الدعم اللي محتاجينه عشان ننشر الفكرة دية للناس
                            </p>
                            <b>وتقدر تعرف تفاصيل أكتر عن الأكاديمية من هنا</b>
                            <div class="text-center social mt-3 mb-3">
                                <div class="social-btns">
                                    <a class="btn facebook" target='blank' href="https://www.facebook.com/micaegypt/"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn website" target='blank' href="http://www.micaegypt.com/"><i
                                            class="fas fa-globe"></i></a>
                                    <a class="btn google" target='blank'
                                        href="https://www.youtube.com/channel/UC408UVJ3xIcpamx6TLlrl7Q"><i
                                            class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <header class="pt-5 pb-5 overflow-hidden col-12">
                <h3><b>الفريق بتاعنا</b></h3>
            </header>
            <div class="row no-gutter mr-auto ml-auto">
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static 'images/team/3bdelrhmann.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>عبدالرحمن فرحات</b></p>
                        <p>Full Stack Developer & Team Leader</p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static 'images/team/shamy.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>شامي محمد</b></p>
                        <p>UI UX Designer & Tester </p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static 'images/team/ramzy.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>احمد رمزي</b></p>
                        <p>Full Stack Developer</p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="vesion">
        <header class="pt-5 pb-5 overflow-hidden text-center col-12">
            <h3><b>اهدافنا</b></h3>
        </header>
        <div class="row mb-5">
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/Awareness.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/consultation2.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>توفيراستشارات طبيه</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/donat2.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>دعم المؤسسات الخيرية</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/donat1.png' %}" class='rounded-circle img-thumbnail ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>دعم العماله الغير منتظمه</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/secrets.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>منع الِاشاعات</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/solutions-.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>تقديم حلول للأزمه</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/gathering-(2).png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>تقليل التجمعات</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="{% static 'images/Objectives/advice.png' %}" class='rounded-circle img-thumbnail' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>توفير اِرشادات وقائيه</b></p>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="container">
    <section class="vesion">
        <header class="pt-5 pb-5 overflow-hidden text-center col-12">
            <h3><b>شرح أقسام الموقع</b></h3>
        </header>
        <div class="row mb-5">
            <div class="col-sm-12 text-right" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                         اِستشير طبيب
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body text-justify text-muted" style="width:65rem;line-height: 2.3;">
                            من خلال الصفحه دي هتقدر تشوف مجموعه من الدكاتره في عده تخصصات جاهزين لتلقي الاستشارات منك وبدون مقابل الا في حاله الذهاب الي عياده الدكتور
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                دعم المؤسسات الخيريه
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            من خلال الصفحه دي  جمعنا فيها مؤسسات خيريه كتير عارضينهم لك عشان تقدر تتبرعلهم من خلال رابط التبرع الاونلاين الخاص بكل مؤسسه فيهم

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                التطوع لفريق الاطباء
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            من خلال الصفحه دي يقدر اي طبيب بأي تخصص التسجيل  معنا لتلقي الاستشارات من الاشخاص في اوقات فراغه وهذا عمل خيري وتطوعي من جيش مصر الأبيض (في حاله طلب المريض استشاره في العياده فهذا قرار الطبيب في اخذ مقابل او لا) 

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#symptoms"
                                aria-expanded="false" aria-controls="symptoms">
                                اعراض الفايرس 

                            </button>
                        </h5>
                    </div>
                    <div id="symptoms" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            من خلال الصفحه دي هتعرف ايه هيا الاعراض الاساسيه لفايرس كورونا مساعده منا لزياده قدرتك علي التحديد ما اذا كنت  مصاب بانفنوانزا عاديه ام  بفايرس كوفيد(19)


                        </div>
                    </div>
                </div>
    
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#emergencyNumbers"
                            aria-expanded="false" aria-controls="emergencyNumbers">
                           ارقام الطوارئ

                        </button>
                    </h5>
                </div>
                <div id="emergencyNumbers" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        من خلال الصفحه دي هتلاقي معظم ارقام الطوارئ الي هتحتاجه في الفتره الحاليه زي (النجده | الأسعاف | المطافي | الخط الساخن لوزاره الصحه | جهاز حمايه المستهلك | .....)

                    </div>
                </div>
            </div>
          
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#peoplesSupport"
                            aria-expanded="false" aria-controls="peoplesSupport">
                            دعم العماله اليوميه

                        </button>
                    </h5>
                </div>
                <div id="peoplesSupport" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        من خلال الصفحه دي هتقدر تتبرع للأشخاص المتضررين من الأزمه الحاليه زي العماله الغير منتظمه والي انقطع شغلهم حاليا

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Helper"
                            aria-expanded="false" aria-controls="Helper">
                        كلم مساعدك الشخصي

                        </button>
                    </h5>
                </div>
                <div id="Helper" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      هذه الخدمه توفر لك اِجراء محداثه مع مساعدك الشخصي "انسان ألي" للرد علي اي استفسار حول الوباء , ولاكن هذه الخدمه غير مفعله في الوقت اللي
                    </div>
                </div>
            </div>
            </div>
        </div>
        
    </section>
</div>

{% endblock %}