{% extends 'template/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 overflow-hidden">
    <section class="about-us text-center mt-5">
        <header class="pt-5 pb-5 overflow-hidden">
            <h3><b>إحنا مين وإية دة ؟</b></h3>
        </header>
        <div class="row mb-5">
            <div class="col card ">
                <div class="row no-gutter pt-4 pb-4">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <img src="{% static 'images/logo.png' %}" class="card-img" />
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card-body">
                            <h6 class="card-title text-right"><b>اكاديمية مصر الدولية للحاسبات (MICA)</b></h6>
                            <p class="card-text text-right text-muted" style="font-size:.9rem;">
                                دية الأكاديمية اللي بندرس فيها

                                <br>
                                احنا في الأول فرد من التيم معانا فكر إنه يعمل حاجة يساهم بيها في زيادة الوعي عن فايروس
                                كورونا
                                وبدأنا نشتغل كفريق خلصنا الفكرة كلها وبعد كدة كلمنا الإدارة عندنا رحبوا بالفكرة وعجبتهم
                                جدًا وقدمولنا الدعم اللي محتاجينه عشان ننشر الفكرة دية للناس
                            </p>
                            <b>وتقدر تعرف تفاصيل أكتر عن الأكاديمية من هنا</b>
                            <div class="text-center social mt-3 mb-3">
                                <div class="social-btns">
                                    <a class="btn facebook" target='blank' href="https://www.facebook.com/micaegypt/"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn website" target='blank' href="http://www.micaegypt.com/"><i
                                            class="fas fa-globe"></i></a>
                                    <a class="btn google" target='blank'
                                        href="https://www.youtube.com/channel/UC408UVJ3xIcpamx6TLlrl7Q"><i
                                            class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <header class="pt-5 pb-5 overflow-hidden col-12">
                <h3><b>الفريق بتاعنا</b></h3>
            </header>
            <div class="row no-gutter mr-auto ml-auto">
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static '/images/team/3bdelrhmann.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>عبدالرحمن فرحات</b></p>
                        <p>Full Stack Developer & Team Leader</p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static '/images/team/shamy.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>شامي محمد</b></p>
                        <p>UI UX Designer & Tester </p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-sm-4 overflow-hidden'>
                    <header>
                        <img src="{% static '/images/team/ramzy.png' %}" class='img-thumbnail ' alt="">
                    </header>
                    <div class="body text-center text-muted mt-3">
                        <p class="m-0"><b>احمد رمزي</b></p>
                        <p>Full Stack Developer</p>
                    </div>
                    <div class="footerr text-center text-muted mt-3">
                        <ul style="list-style: none;" class="p-0">
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="mr-3 ml-3 d-inline-block"><a href="#"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="vesion">
        <header class="pt-5 pb-5 overflow-hidden text-center col-12">
            <h3><b>اهدافنا</b></h3>
        </header>
        <div class="row mb-5">
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
            <div class='col-sm-3 overflow-hidden mt-5'>
                <header class="text-center">
                    <img src="https://via.placeholder.com/150" class='rounded-circle ' alt="">
                </header>
                <div class="body text-center text-muted mt-3">
                    <p class="m-0"><b>زيادة الوعي</b></p>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="container">
    <section class="vesion">
        <header class="pt-5 pb-5 overflow-hidden text-center col-12">
            <h3><b>شرح أقسام الموقع</b></h3>
        </header>
        <div class="row mb-5">
            <div class="col-sm-12 text-right" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                القسم الأول
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body text-justify text-muted" style="width:65rem;line-height: 2.3;">
                            لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم
                            في صناعات المطابع ودور
                            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة
                            مجهولة برص مجموعة من الأحرف
                            بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من
                            الزمن لم تقضي على هذا النص، بل
                            انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في
                            ستينيّات هذا القرن مع إصدار رقائق
                            "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع
                            ظهور برامج النشر الإلكتروني مثل
                            "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                قسم اتنين
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم
                            في صناعات المطابع ودور
                            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة
                            مجهولة برص مجموعة من الأحرف
                            بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من
                            الزمن لم تقضي على هذا النص، بل
                            انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في
                            ستينيّات هذا القرن مع إصدار رقائق
                            "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع
                            ظهور برامج النشر الإلكتروني مثل
                            "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                قسم اتنين
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم
                            في صناعات المطابع ودور
                            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة
                            مجهولة برص مجموعة من الأحرف
                            بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من
                            الزمن لم تقضي على هذا النص، بل
                            انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في
                            ستينيّات هذا القرن مع إصدار رقائق
                            "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع
                            ظهور برامج النشر الإلكتروني مثل
                            "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

{% endblock %}