{% extends 'template/base.html' %}
{% block content%}
<div class="M-counter">
    <div class="row">
        <div class="item col-xs-12 col-sm-3 float-right text-center pt-5 pb-5">
            <i class="fas fa-globe-asia"></i>
            <h3><span class='numscroller' data-min='1' data-max='{{countries}}' data-delay='7'
                    data-increment='3'>{{countries}}</span></h3>
            <h3>بلد موبؤة</h3>
        </div>
        <div class="item col-xs-12 col-sm-3 float-right text-center pt-5 pb-5">
            <i class="fas fa-users"></i>
            <h3><span class='numscroller' data-min='1' data-max='{{totalDeaths}}' data-delay='7'
                    data-increment='50'>{{totalDeaths}}</span>
            </h3>
            <h3>مُتوفي</h3>
        </div>
        <div class="item col-xs-12 col-sm-3 float-right text-center pt-5 pb-5">
            <i class="fas fa-procedures"></i>
            <h3><span class='numscroller' data-min='1' data-max='{{totalCases}}' data-delay='7'
                    data-increment='1000'>{{totalCases}}</span></h3>
            <h3>مُصاب</h3>
        </div>
        <div class="item col-xs-12 col-sm-3 float-right text-center pt-5 pb-5">
            <i class="fas fa-h-square"></i>
            <h3><span class='numscroller' data-min='1' data-max='{{totalRecovered}}' data-delay='7'
                    data-increment='1000'>{{totalRecovered}}</span></h3>
            <h3>مُعافى</h3>
        </div>
    </div>
    اخر تحديث: {{today|date:'d-m-Y'}}
</div>


<section class="targets col-sm-12 pt-3 pb-3">
    <div class="container">
        <header id="protection" class="text-center pb-3">
            <h4><b>طرق الوقايه</b></h4>
            <h6 class="text-muted">ساعد على وقف انتشار فيروس كورونا</h6>
        </header>
        <div class="our-targets">
            <div class="Target-right mr-3 col-md-6 col-sm-12 p-4 d-block">
                <h6><b>إغسل اليدين بانتظام</b></h6>
                <article>
                    <p>
                        إن تنظيف يديك بالماء والصابون أو فركهما بمطهر كحولي من شأنه أن يقتل الفيروسات التي قد تكون على
                        يديك
                    </p>
                </article>
            </div>
            <div class="Target-left col-md-6 col-sm-12 p-4">
                <h6><b>تجنب لمس عينيك وأنفك وفمك</b></h6>

                <article>
                    <p>
                        تلمس اليدين العديد من الأسطح ويمكنها أن تلتقط الفيروسات. وإذا تلوثت اليدان فإنهما قد تنقلان
                        الفيروس إلى العينين أو الأنف أو الفم. ويمكن للفيروس أن يدخل الجسم عن طريق هذه المنافذ ويصيبك
                        بالمرض</p>
                </article>
            </div>
            <div class="Target-right col-md-7 col-sm-12 p-4">
                <h6><b>تجنب الاقتراب كثيرا من الناس</b></h6>

                <article>
                    <p>
                        عندما يسعل الشخص أو يعطس، تتناثر من أنفه أو فمه قُطيرات سائلة صغيرة قد تحتوي على الفيروس. فإذا
                        كنت شديد الاقتراب منه يمكن أن تتنفس هذه القُطيرات، بما في ذلك الفيروس المسبب لمرض كوفيد-19 إذا
                        كان الشخص مصاباً به
                    </p>
                </article>
            </div>
            <div class="Target-left col-md-6 col-sm-12 p-4">
                <h6><b>تجنب المصافحة</b></h6>
                <article>
                    <p>
                        الفيروسات التنفسية يمكن أن تنتقل بالمصافحة ولمس العينين ‏والأنف والفم. تبادلوا التحية بالتلويح
                        عن بعد أو بالإيماءة أو بالإنحناءة بدلا من ‏المصافحة</p>
                </article>
            </div>
            <div class="Target-right col-md-7 col-sm-12 p-4">
                <h6><b>تابع المستجدات واتبع نصائح مقدمي الرعاية الصحية</b></h6>

                <article>
                    <p>
                        احرص على متابعة آخر المستجدات بشأن مرض كوفيد-19. واتبع النصائح التي يقدمها لك مقدم الرعاية
                        الصحية وتلك الصادرة عن سلطات الصحة العامة المحلية والوطنية أو عن رب عملك بشأن أساليب حماية نفسك
                        والآخرين من الإصابة بعدوى كوفيد-19 .</p>
                </article>
            </div>
            <div class="Target-left col-md-6 col-sm-12 p-4">
                <h6><b>احرص على ممارسات النظافة التنفسية</b></h6>
                <article>
                    <p>
                        احرص على تغطية الفم والأنف بثني المرفق أو بمنديل ورقي عند السعال أو العطس، ثم تخلص من المنديل
                        الورقي فوراً بإلقائه في سلة مهملات مغلقة ونظف يديك بمطهر كحولي أو بالماء والصابون
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="bg-white overflow-hidden pb-5 pt-5">
    <div class="party">
        <div class="container">
            <header id="protection" class="text-center pb-3">
                <h4><b>ترتيب اعلي الدول في معدل الإصابة</b></h4>
            </header>
            <div class="leaders col-sm-12">
                <div class="col-sm-12 Ththirt text-center">
                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/un.png" alt="..." class="img-thumbnail">
                        <h5> الولايات المتحدة الامريكيه</h5>
                        <div class="leaderz">
                            <h2>1</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/sp.png" alt="..." class="img-thumbnail">
                        <h5>اسبانيا</h5>
                        <div class="leaderz">
                            <h2>2</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/IT.png" alt="..." class="img-thumbnail">
                        <h5>ايطاليا</h5>
                        <h2>3</h2>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/Ge.png" alt="..." class="img-thumbnail">
                        <h5>المانيا</h5>
                        <h2>4</h2>
                    </div>

                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/Fr.png" alt="..." class="img-thumbnail">
                        <h5>فرنسا</h5>
                        <h2>5</h2>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center float-right">
                        <img src="./img/CH.png" alt="..." class="img-thumbnail">
                        <h5>الصين</h5>
                        <h2>6</h2>
                    </div>
                    <div class="col-sm-12 Ththirt text-center">
                        <div class="col-md-4 col-sm-12 text-center float-right">
                            <img src="./img/ir.png" alt="..." class="img-thumbnail">
                            <h5>ايران</h5>
                            <h2>7</h2>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center float-right">
                            <img src="./img/Ki.png" alt="..." class="img-thumbnail">
                            <h5>المملكه المتحده</h5>
                            <h2>8</h2>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center float-right">
                            <img src="./img/Tu.png" alt="..." class="img-thumbnail">
                            <h5>تركيا</h5>
                            <h2>9</h2>
                        </div>
                        <div class="col-12 text-center float-right ">
                            <img src="./img/Sw.png" alt="..." class="img-thumbnail">
                            <h5>سويسرا</h5>
                            <h2>10</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}