{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<div class="container justify-content-center">
            <header class="col-sm-12 pb-3 ">
                <h3 class="text-center mt-5"><b>اعراض الفيروس</b></h3>
              </header>
                <div class="row mt-5">
                <div class="col card mb-3">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center pt-5">
                            <img src="{% static 'images/headache.jpg' %}" class="card-img"  />
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title text-right"><b>الصداع</b></h5>
                                <p class="card-text text-right">
                             
يعرَف الصداع على أنه الألم الذي يشعر به الفرد بسبب الهياكل الحساسة للألم أو ما تعرف بمستقبلات الألم  الموجودة في نهايات الألياف العصبية؛ حيث تُسبّب هذه الهياكل الشعور بالصداع التي تؤدّي إلى إطلاق إشارات للألياف العصبية الموجودة في الدماغ 

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col card mb-3">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center pt-5">
                            <img src="{% static 'images/coughing.jpg' %}" class="card-img" />
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title text-right"><b>السعال</b></h5>

                                <p class="card-text text-right">
                                    هو طرد فجائي للهواء عبر الحنجرة يُساعد علي تنظيف الممرات التنفسية الكبيرة من السوائل والمهيجات والجزيئات الغريبة والميكروبات وعادة ما يحدث بشكل متكرر. يتكون السعال من ثلاث مراحل: الاستنشاق، والزفير، والإطلاق العنيف للهواء من الرئتين، يرافقه عاده صوت ممييز.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col card mb-3">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center pt-5">
                            <img src="{% static 'images/sore_throat.PNG' %}" class="card-img" />
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title text-right"><b>ألم في الحلق</b></h5>
                                <p class="card-text text-right">
                                    يمكن تعريف احتقان الحلق المزمن، أو التهاب البلعوم المزمن بألم الحلق الذي لا يستجيب للعلاج ويستمر لفترة طويلة من الزمن، كما قد يصاحب هذا الألم حّكة، أو حرقة في الحلق، وتجدر الإشارة إلى إمكانيّة تسبّب بعض المشاكل الصحيّة بألم الحلق المستمر
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col card mb-3">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-md-12 col-sm-12 text-center pt-5">
                            <img src="{% static 'images/fever.jpg' %}" class="card-img" />
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title text-right"><b>الحمى</b></h5>
                                <p class="card-text text-right">
                         
إنّ هذه الحالة قد تحدث نتيجة ردّ فعل الجهاز المناعيّ في محاربة عدوى ما في الجسم، وذلك بهدف القضاء على هذه العدوى والتخلص منها، لذلك فإنّ ارتفاع درجة حرارة الجسم بشكل خفيف لا يدعو للقلق، بينما يُعدّ اتخاذ الإجراءات اللاّزمة لخفض درجة الحرارة ومراقبتها كل ساعتين أمراً ضروريّاً في حال ارتفعت درجة حرارة الجسم، وتجاوزت قراءة ميزان الحرارة الفموي 38 درجة مئوية
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}